services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - '8000:80'
        volumes:
            - .:/var/www/html
        depends_on:
            - db
        environment:
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: laravel_db
            DB_USERNAME: laravel_user
            DB_PASSWORD: password
        tty: true

    db:
        image: mysql:8.0
        environment:
            MYSQL_DATABASE: laravel_db
            MYSQL_USER: laravel_user
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: root_password
        ports:
            - '3307:3306'
        volumes:
            - db_data:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        environment:
            PMA_HOST: db # نام سرویس دیتابیس که باید به آن متصل شود
            PMA_PORT: 3306
            MYSQL_ROOT_PASSWORD: root_password # استفاده از رمز عبور روت دیتابیس
        ports:
            - '8080:80' # دسترسی از طریق مرورگر با آدرس http://localhost:8080/
        depends_on:
            - db
        restart: always

volumes:
    db_data:
        driver: local
