services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - '8000:80'
        volumes:
            # مهمترین خط برای استقلال کدها: اتصال پوشه فعلی (کدهای شما) به داخل کانتینر
            - .:/var/www/html
        depends_on:
            - db
        environment:
            DB_CONNECTION: mysql
            DB_HOST: db 
            DB_PORT: 3306
            DB_DATABASE: laravel_db
            DB_USERNAME: laravel_user
            DB_PASSWORD: password
        tty: true

    db:
        image: mysql:8.0
        environment:
            MYSQL_DATABASE: laravel_db
            MYSQL_USER: laravel_user
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: root_password
        ports:
            - '3307:3306'
        volumes:
            - db_data:/var/lib/mysql

volumes:
    db_data:
        driver: local