.certificate {
    width: 1000px;
    margin: auto;
    padding: 40px;
}

.cert-header,
.cert-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cert-body {
    margin: 10px 0;
}

.block {
    margin: 5px 0;
}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.block-title {
    font-size: 32px;
    font-weight: bold;
}

.block-signatures {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.signature img {
    max-height: 60px;
}

.signature {
    position: relative;
    overflow: hidden; /* اگر امضا از باکس بیرون زد */
}

/* تصویر امضا */
.signature-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 80%;
    max-height: 80%;

    opacity: 0.50;
    pointer-events: none; 
    z-index: 2;
}

/* متن و لوگو زیر امضا */
.signature .name,
.signature .logo {
    position: relative;
    z-index: 1;
}
