@font-face {
    font-family: 'Vazir';
    src: url('/fonts/vazir/Vazir.woff2') format('woff2'),
    url('/fonts/vazir/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fi-body , body, .certificate {
    font-family: 'Vazir', sans-serif !important;
}
